$font-family-base:            'Nunito', Arial, Helvetica, sans-serif;
$line-height-base:            1.18;

$input-btn-focus-box-shadow:   none;
$custom-select-focus-box-shadow: none;

$grid-gutter-width:            20px;

$primary:                   #183FBC;

$theme-colors: (
  "primary"         :        $primary
);


$input-btn-padding-y:          .45rem;
$input-btn-padding-x:          1rem;
$input-btn-line-height:        1.8;
$input-btn-focus-box-shadow:   none;
$custom-select-focus-box-shadow: none;
